<h1>Graph - Basics</h1>

<button id="loadNewData" {{action 'loadNewData'}}>Load New Data</button>

<label>Graph Width: {{input name="graphWidth" type="range" min="10" max="1000" value=graphWidth}}</label><output>{{graphWidth}}px</output><br/>
<label>Graph Height: {{input type="range" min="10" max="1000" value=graphHeight}}</label><output>{{graphHeight}}px</output><br/>
<label>Graph1 Diff A: {{input type="range" min="0" max="1000" value=diffA}}</label><output>{{diffA}}</output><br/>
<label>Graph1 Diff B: {{input type="range" min="0" max="1000" value=diffB}}</label><output>{{diffB}}</output><br/>
<label>Multiplier Y: {{input type="range" min="0" step=".01" max="2" value=multiY}}</label><output>{{multiY}}</output><br/>
<output>{{graphWidth}}px</output>

<style>
	.area3 .nf-area-area {
		fill: blue;
	}
	.area2 .nf-area-area {
		fill: lime;
	}
	.area1 .nf-area-area {
		fill: red;
	}
</style>

{{#nf-graph
	yMaxMode="push-tick"
	yMax=1
	xLink=groupX
	selectMultiple=1
	brushStartAction="brushStart"
	brushAction="brush"
	brushEndAction="brushEnd"
	width=graphWidth height=graphHeight showFrets=true showLanes=true paddingTop=50 paddingLeft=20 as |nf|}}

	{{#nf.graph as |graph|}}
		{{graph.line data=model.area3 trackingMode="snap-last" trackedData=tracked2}}

		{{#graph.area-stack aggregate=1 as |stack|}}
			{{stack.area class="area3" selectable=1 selected=fooSelected interpolator="linear" data=model.area3  trackingMode="snap-last"}}
			{{stack.area class="area2" selectable=1 interpolator="linear" data=model.area2  trackingMode="snap-last"}}
			{{stack.area class="area1" selectable=1 interpolator="linear" data=model.area1  trackingMode="snap-last"}}
		{{/graph.area-stack}}

		{{graph.brush-selection left=brushLeft right=brushRight}}
		{{graph.crosshair}}

	{{/nf.graph}}

	{{#nf.x-axis as |tick|}}
		<text>{{tick.value}}</text>
	{{/nf.x-axis}}

	{{#nf.y-axis orient="right" as |tick|}}
		<text>{{tick.value}}</text>
	{{/nf.y-axis}}
{{/nf-graph}}

<div>
	<span>Tracked Data</span>
	<output>{{tracked2.y}} {{tracked2.renderY}}</output>
</div>

<button {{action 'updateAreas'}}>update areas</button>
