<h1>Graph - Basics</h1>

<label>Graph Width: {{input type="range" min="10" max="1000" value=graphWidth}}</label><output>{{graphWidth}}px</output><br/>
<label>Graph1 Diff A: {{input type="range" min="0" max="1000" value=diffA}}</label><output>{{diffA}}</output><br/>
<label>Graph1 Diff B: {{input type="range" min="0" max="1000" value=diffB}}</label><output>{{diffB}}</output><br/>
<output>{{graphWidth}}px</output>

{{#nf-graph xLink=groupX yLink=groupY selected=selectedThings hoverX=fooGraphHoverX hoverY=fooGraphHoverY mouseX=fooGraphMouseX mouseY=fooGraphMouseY
	width=graphWidth height="300" showFrets="true" showLanes="true" paddingTop=50}}

	{{#nf-graph-content}}
		{{nf-area selectable=1 selected=fooSelected data=lineData hoverIndex=fooIndex hoverData=fooHovered trackingMode="snap-last"}}
		{{!-- {{nf-dot x=fooHovered.x y=fooHovered.y}} --}}
		{{nf-vertical-line x=fooHovered.x}}
		{{nf-horizontal-line y=fooHovered.y}}

		{{#nf-range-markers orient="top"}}
			{{#nf-range-marker xMin=20 xMax=88}}
				<text>Number 2</text>
			{{/nf-range-marker}}

			{{#nf-range-marker xMin=56 xMax=120}}
				<text>Numero Uno</text>
			{{/nf-range-marker}}
		{{/nf-range-markers}}		

		{{nf-selection-box xMin=10 xMax=50 yMin=diffA yMax=diffB}}

	{{/nf-graph-content}}

	{{#nf-y-diff a=diffA b=diffB}}
		<text {{action 'test'}}>500</text>
	{{/nf-y-diff}}

	{{#nf-x-axis}}
		<text>{{tick.value}}</text>
	{{/nf-x-axis}}

	{{#nf-y-axis orient="right"}}
		<text>{{tick.value}}</text>
	{{/nf-y-axis}}

{{/nf-graph}}

<div>
	<span>HoveredData</span>
	<table>
		<tbody>
			<tr>
				<td>line.hoverIndex</td>
				<td>{{fooIndex}}</td>
			</tr>
			<tr>
				<td>line.hoverData</td>
				<td>{ x: {{fooHovered.x}}, y: {{fooHovered.y}} }</td>
			</tr>
			<tr>
				<td>graph.hover</td>
				<td>{ x: {{fooGraphHoverX}}, y: {{fooGraphHoverY}} }</td>
			</tr>

			<tr>
				<td>graph.mouse</td>
				<td>{ x: {{fooGraphMouseX}}, y: {{fooGraphMouseY}} }</td>
			</tr>
		</tbody>
	</table>
	{{fooIndex}} : {{fooHovered.x}}, {{fooHovered.y}} : {{fooMouseX}}
</div>

<style>
	.area3 .area {
		fill: blue;
	}
	.area2 .area {
		fill: lime;
	}
	.area1 .area {
		fill: red;
	}
</style>

{{#nf-graph  xLink=groupX selectMultiple=1
	width=graphWidth height="300" showFrets="true" showLanes="true" paddingTop=50}}

	{{#nf-graph-content}}
		{{#nf-area-stack}}
			{{nf-area class="area3" selectable=1 selected=fooSelected interpolator="linear" data=area3  trackingMode="snap-last"}}
			{{nf-area class="area2" selectable=1 interpolator="linear" data=area2  trackingMode="snap-last"}}
			{{nf-area class="area1" selectable=1 interpolator="linear" data=area1  trackingMode="snap-last"}}
		{{/nf-area-stack}}
	{{/nf-graph-content}}

	{{#nf-x-axis}}
		<text>{{tick.value}}</text>
	{{/nf-x-axis}}

	{{#nf-y-axis orient="right"}}
		<text>{{tick.value}}</text>
	{{/nf-y-axis}}

{{/nf-graph}}

<div>
	<span>Tracked Data</span>
	<output>{{tracked2.y}}</output>
</div>

<button {{action 'appendAreaData' area1}}>area1</button>
<button {{action 'appendAreaData' area2}}>area2</button>
<button {{action 'appendAreaData' area3}}>area3</button>