<h1>Graph - Basics</h1>

<label>Graph Width: {{input type="range" min="10" max="1000" value=graphWidth}}</label>
<output>{{graphWidth}}px</output>

{{#nf-graph  xLink=groupX yLink=groupY
	width=graphWidth height="300" showFrets="true" showLanes="true" paddingTop=50}}

	{{#nf-graph-content}}
		{{nf-area data=lineData trackingMode="snap-first" trackedData=tracked}}
		{{nf-crosshair}}

		{{#nf-range-markers orient="top"}}
			{{#nf-range-marker xMin=20 xMax=88}}
				<text>Number 2</text>
			{{/nf-range-marker}}

			{{#nf-range-marker xMin=56 xMax=120}}
				<text>Numero Uno</text>
			{{/nf-range-marker}}
		{{/nf-range-markers}}		
	{{/nf-graph-content}}

	{{#nf-y-diff a=100 b=200}}
		<text {{action 'test'}}>500</text>
	{{/nf-y-diff}}

	{{#nf-x-axis}}
		<text>{{tick.value}}</text>
	{{/nf-x-axis}}

	{{#nf-y-axis orient="right"}}
		<text>{{tick.value}}</text>
	{{/nf-y-axis}}

{{/nf-graph}}

<div>
	<span>Tracked Data</span>
	<output>{{tracked.y}}</output>
</div>

<style>
	.area3 path {
		fill: blue;
	}
	.area2 path {
		fill: lime;
	}
	.area1 path {
		fill: red;
	}
</style>

{{#nf-graph  xLink=groupX
	width=graphWidth height="300" showFrets="true" showLanes="true" paddingTop=50}}

	{{#nf-graph-content}}
		{{#nf-area-stack}}
			{{nf-area class="area3" interpolator="linear" data=area3}}
			{{nf-area class="area2" interpolator="linear" data=area2}}
			{{nf-area class="area1" interpolator="linear" data=area1}}
		{{/nf-area-stack}}
		{{nf-crosshair test="bottom"}}
	{{/nf-graph-content}}

	{{#nf-y-diff a=500 b=1000}}
		<text {{action 'test'}}>500</text>
	{{/nf-y-diff}}

	{{#nf-x-axis}}
		<text>{{tick.value}}</text>
	{{/nf-x-axis}}

	{{#nf-y-axis orient="right"}}
		<text>{{tick.value}}</text>
	{{/nf-y-axis}}

{{/nf-graph}}

<div>
	<span>Tracked Data</span>
	<output>{{tracked2.y}}</output>
</div>

<div>
	{{groupX.xHover}},
	{{groupY.yHover}}
</div>

<button {{action 'appendAreaData' area1}}>area1</button>
<button {{action 'appendAreaData' area2}}>area2</button>
<button {{action 'appendAreaData' area3}}>area3</button>