<h1>Graph - Basics</h1>

{{#nf-graph width="500" height="300" showLanes="true" paddingTop=50}}

	{{#nf-y-diff a=500 b=1000}}
		<text {{action 'test'}}>500</text>
	{{/nf-y-diff}}

	{{#nf-x-axis}}
		<text>{{tick.value}}</text>
	{{/nf-x-axis}}

	{{#nf-y-axis orient="left"}}
		<text>{{tick.value}}</text>
	{{/nf-y-axis}}

	{{#nf-graph-content}}
		{{nf-line data=lineData trackingMode="hover"}}
		{{nf-crosshair}}

		{{#nf-range-markers orient="top"}}
			{{#nf-range-marker xMin=20 xMax=88}}
				<text>Number 2</text>
			{{/nf-range-marker}}

			{{#nf-range-marker xMin=56 xMax=120}}
				<text>Numero Uno</text>
			{{/nf-range-marker}}
		{{/nf-range-markers}}		
	{{/nf-graph-content}}

{{/nf-graph}}


