<h1>Graph - Basics</h1>

{{#nf-graph width="500" height="300"}}
	{{#nf-x-axis}}
		<text>{{tick.value}}</text>
	{{/nf-x-axis}}

	{{#nf-y-axis}}
		<text>{{tick.value}}</text>
	{{/nf-y-axis}}

	{{#nf-graph-content}}
		{{nf-line data=lineData}}
	{{/nf-graph-content}}
{{/nf-graph}}

<pre>

\{{#nf-graph width="500" height="300"}}
	\{{#nf-x-axis}}
		&lt;text&gt;\{{tick.value}}&lt;/text&gt;
	\{{/nf-x-axis}}

	\{{#nf-y-axis}}
		&lt;text&gt;\{{tick.value}}&lt;/text&gt;
	\{{/nf-y-axis}}

	\{{#nf-graph-content}}
		\{{nf-line data=lineData}}
	\{{/nf-graph-content}}
\{{/nf-graph}}

</pre>