<h2>nf-table</h2>

<style>
	.test {
		background: lime;
	}

	.small-column {
		width: 100px;
	}

	.big-column {
		width: 200px;
	}
</style>

length: {{cols.length}}

{{#nf-table rows=myData scrollable=1 
	scrollAction="tableScrolled"
	columns=cols
	rowAction="rowClicked"}}
	{{!-- {{#nf-table-group itemController="nf-table-group-test" rowAction="groupClicked"}}
		{{#nf-column sortBy="row.blah" class="small-column"}}	
			{{#nf-cell}}
				{{group.blah}}
			{{/nf-cell}}
		{{/nf-column}}
	{{/nf-table-group}} --}}

	{{#nf-column sortBy="foo" class="big-column" align="left"}}
		{{#nf-header}}
			<span class="nf-column-label">Foo</span>
		{{/nf-header}}
		
		{{#nf-cell}}
			<a href="#" {{action 'fooCellClicked'}}>test</a>{{row.foo}}
		{{/nf-cell}}
	{{/nf-column}}
	
	{{#nf-column sortBy="bar" sortNatural=1 class="small-column" align="right"}}	
		{{#nf-header}}
			<span class="nf-column-label">Bar</span>
		{{/nf-header}}

		{{#nf-cell}}
			{{row.bar}}
		{{/nf-cell}} 
	{{/nf-column}}

	{{nf-column isVisible=0 sortBy="blah" name="blah sorter column"}}
{{/nf-table}}


<h3>cols</h3>
<ul>
	{{#each col in cols}}
		<li {{action 'toggleSort' col}}>{{col.sortBy}} {{col.direction}}</li>
	{{/each}}
</ul>

<h3>other</h3>
<ul>
	<li>scrollTop: {{tableScroll.scrollTop}}</li>
	<li>scrollTopMax: {{tableScroll.scrollTopMax}}</li>
	<li>outerHeight: {{tableScroll.outerHeight}}</li>
	<li>scrollHeight: {{tableScroll.scrollHeight}}</li>
	<li>scrollTopPercentage: {{tableScroll.scrollTopPercentage}}</li>
</ul>