<h2>nf-table</h2>

<style>
	.test {
		background: lime;
	}

	.small-column {
		width: 100px;
	}

	.big-column {
		width: 200px;
	}
</style>

length: {{cols.length}}

{{#nf-table rows=myData sortMultiple=1 scrollable=1 
	columns=cols
	rowAction="rowClicked"}}
	{{!-- {{#nf-table-group itemController="nf-table-group-test" rowAction="groupClicked"}}
		{{#nf-column sortBy="row.blah" class="small-column"}}	
			{{#nf-cell}}
				{{group.blah}}
			{{/nf-cell}}
		{{/nf-column}}
	{{/nf-table-group}} --}}

	{{#nf-column sortBy="foo" class="big-column"}}
		{{#nf-header}}
			Foo <div class="nf-sort-arrow"></div>
		{{/nf-header}}
		
		{{#nf-cell}}
			<a href="#" {{action 'fooCellClicked'}}>test</a>{{row.foo}}
		{{/nf-cell}}
	{{/nf-column}}
	
	{{#nf-column sortBy="bar" sortNatural=1 class="small-column"}}	
		{{#nf-header}}
			Bar <div class="nf-sort-arrow"></div>
		{{/nf-header}}

		{{#nf-cell}}
			{{row.bar}}
		{{/nf-cell}} 
	{{/nf-column}}

	{{nf-column isVisible=0 sortBy="blah" name="blah sorter column"}}
{{/nf-table}}


<ul>
	{{#each col in cols}}
		<li {{action 'toggleSort' col}}>{{col.sortBy}} {{col.direction}}</li>
	{{/each}}
</ul>