{{#if hasRendered}}
  {{#if scrollable}}
    {{#if useGroupedTableLayout}}
      <div class="nf-table-scrollable-header">
        <table>
          <thead>
            <tr>
              {{#each column in columns}}
                {{view 'nf-table-header' column=column classNames=column.headerClassNames controller=parentController}}
              {{/each}}
            </tr>
          </thead>
        </table>
      </div>

      <div class="nf-table-scrollable-body">
        <table>
          <tbody>
            {{#each group in sortedGroups}}
              <tr class="nf-table-group" {{action 'groupRowClick' group}}>
                {{#each column in tableGroup.visibleColumns}}
                  {{view 'nf-table-cell' column=column classNames=column.cellClassNames controller=parentController}}
                {{/each}}
              </tr>
              {{#each row in group}}
                <tr class="nf-table-group-child" {{action 'rowClick' row group}}>
                  {{#each column in visibleColumns}}
                    {{view 'nf-table-cell' column=column classNames=column.cellClassNames controller=parentController}}
                  {{/each}}
                </tr>
              {{/each}}
            {{/each}}
          </tbody>
        </table>    
      </div>
    {{else}}
      
      {{!-- SCROLLABLE DEFAULT --}}
      <div class="nf-table-scrollable-header">
        <table>
          <thead>
            <tr>
              {{#each column in visibleColumns}}
                {{view 'nf-table-header' column=column classNames=column.headerClassNames controller=parentController}}
              {{/each}}
            </tr>
          </thead>
        </table>
      </div>

      <div class="nf-table-scrollable-body">
        <table>
          <tbody>
            {{#each row in sortedRows}}
              <tr {{action 'rowClick' row}}>
                {{#each column in visibleColumns}}
                  {{view 'nf-table-cell' column=column classNames=column.cellClassNames controller=parentController}}
                {{/each}}
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    {{/if}}

  {{else}}

    {{!-- GROUPED, NOT SCROLLED --}}
    {{#if useGroupedTableLayout}}
      <table>
        <thead>
          <tr>
            {{#each column in visibleColumns}}
              {{view 'nf-table-header' column=column classNames=column.headerClassNames controller=parentController}}
            {{/each}}
          </tr>
        </thead>

        <tbody>
          {{#each group in sortedGroups}}
            <tr class="nf-table-group" {{action 'groupRowClick' group}}>
              {{#each column in tableGroup.visibleColumns}}
                {{view 'nf-table-cell' column=column classNames=column.cellClassNames controller=parentController}}
              {{/each}}
            </tr>
            {{#each row in group}}
              <tr class="nf-table-group-child" {{action 'rowClick' row group}}>
                {{#each column in visibleColumns}}
                  {{view 'nf-table-cell' column=column classNames=column.cellClassNames controller=parentController}}
                {{/each}}
              </tr>
            {{/each}}
          {{/each}}
        </tbody>
      </table>
    {{else}}

    {{!-- DEFAULT TABLE --}}
      <table>
        <thead>
          <tr>
            {{#each column in visibleColumns}}
              {{view 'nf-table-header' column=column classNames=column.headerClassNames controller=parentController}}
            {{/each}}
          </tr>
        </thead>
  
        <tbody>
          {{#each row in sortedRows}}
            <tr {{action 'rowClick' row}}>
              {{#each column in visibleColumns}}
                {{view 'nf-table-cell' column=column classNames=column.cellClassNames controller=parentController}}
              {{/each}}
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{/if}}
  {{/if}}
{{/if}}

{{yield}}  