{{#if hasRendered}}
  {{#if useGroupedTableLayout}}
    <thead>
      <tr>
        {{#each column in columns}}
          <th {{action 'sort' column}} {{bind-attr class="column.sortClass" colspan=column.header.colspan}}>
            {{view Ember.View tagName="div" controller=parentController template=column.header.template}}
          </th>
        {{/each}}
      </tr>
    </thead>

    <tbody>
      {{#each group in sortedGroups}}
        <tr class="nf-table-group-child">
          {{#each column in tableGroup.columns}}
            <td {{bind-attr colspan=column.cell.colspan}}>
              {{view Ember.View tagName="div" controller=parentController template=column.cell.template}}
            </td>
          {{/each}}
        </tr>
        {{#each row in group}}
          <tr class="nf-table-group">
            {{#each column in columns}}
              <td {{bind-attr colspan=column.cell.colspan}}>
                {{view Ember.View tagName="div" controller=parentController template=column.cell.template}}
              </td>
            {{/each}}
          </tr>
        {{/each}}
      {{/each}}
    </tbody>

  {{else}}

    <thead>
      <tr>
        {{#each column in columns}}
          <th {{action 'sort' column}} {{bind-attr class="column.sortClass" colspan=column.header.colspan}}>
            {{view Ember.View tagName="div" controller=parentController template=column.header.template}}
          </th>
        {{/each}}
      </tr>
    </thead>

    <tbody>
      {{#each row in sortedRows}}
        <tr>
          {{#each column in columns}}
            <td {{bind-attr colspan=column.cell.colspan}}>
              {{view Ember.View tagName="div" controller=parentController template=column.cell.template}}
            </td>
          {{/each}}
        </tr>
      {{/each}}
    </tbody>

  {{/if}}
{{/if}}

{{yield}}  