<h2 id="title">ember-cli-nf-graph examples</h2>

<section>
  <h3>Resources</h3>
  <ul>
    <li><a href="//github.com/netflix/ember-cli-nf-graph">ember-nf-graph source</a></li>
    <li><a href="//github.com/netflix/ember-nf-graph-examples">ember-nf-graph-examples source</a></li>
    <li><a href="//netflix.github.io/ember-cli-nf-graph/docs/">Documentation for nf-graph here</a></li>
  </ul>
</section>

<section>
<h3>Contents</h3>
  <ul>
    <li><a href="#basic-line-graph">Basic Line Graph</a></li>
    <li><a href="#basic-area-graph">Basic Area Graph</a></li>
    <li><a href="#basic-bar-graph">Basic Bar Graph</a></li>
    <li><a href="#detailed-line-graph">Detailed Line Graph</a></li>
    <li><a href="#stacked-area-graph">Stacked Area Graph</a></li>
    <li><a href="#mouse-tracking">Mouse Tracking</a></li>
    <li><a href="#mouse-tracking-data">Mouse Tracking Data</a></li>
    <li><a href="#brush-select-zoom">Brush Select to Zoom</a></li>
    <li><a href="#bars-with-line">Bar Graph with Line</a></li>
  </ul>
</section>


<section>
  <a name="basic-line-graph"><h3>Basic Line Graph</h3></a>
  {{basic-line-graph}}
</section>

<section>
  <a name="basic-area-graph"><h3>Basic Area Graph</h3></a>
  {{basic-area-graph}}
</section>

<section>
  <a name="basic-bar-graph"><h3>Basic Bar Graph</h3></a>
  {{basic-bar-graph}}
</section>

<section>
  <a name="detailed-line-graph"><h3>Detailed Line Graph</h3></a>
  {{detailed-line-graph}}
</section>

<section>
  <a name="stacked-area-graph"><h3>Stacked Area Graph</h3></a>
  {{stacked-area-graph}}
</section>

<section>
  <a name="mouse-tracking"><h3>Mouse Tracking</h3></a>
  {{mouse-tracking}}
</section>

<section>
  <a name="mouse-tracking-data"><h3>Mouse Tracking Data</h3></a>
  {{mouse-tracking-data}}
</section>

<section>
  <a name="brush-select-zoom"><h3>Brush Select to Zoom</h3></a>
  {{brush-select-zoom}}
</section>

<section>
  <a name="bars-with-line"><h3>Bar Graph with Line</h3></a>
  {{bars-with-line}}
</section>
